* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

h3 {
    color: rgb(0, 167, 65)
}

h2 {
    color: rgb(52, 174, 235);
}

.content > p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.container {
    height: 100vh;
    width: 40%;
    border: 3px solid black;
}

.content {
    padding-top: 1em;
}

.content > * {
    padding-left: 20px;
    margin-top: 20px;
}

.overline {
    position: relative;
    left: 20px;
    width: 80%;
    height: 3px;
    background-color: black;
    margin-top: 40px;
}

.skills {
    margin-top: 10px;
}