* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}


.container {
    height: 100vh;
    width: 40%;
    border: 3px solid black;
}

.content {
    border-top: 2px solid black;
    padding-top: 1em;
}

.content > * {
    padding-left: 20px;
    margin-top: 20px;
}