* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40vw;
    height: 80vh;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 4rem;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

#container {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#display {
    background-color: rgb(61, 62, 64);
    width: 100%;
    height: 20%;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 5rem;
    color: white;
}

#btn-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#btn-grid > button:nth-child(4n+1) {
    background-color: hsl(35, 100%, 50%);
}

#btn-grid > button:nth-child(4n+1):hover {
    background-color: hsl(35, 100%, 60%);
}


#btn-grid > button:nth-child(4n+1):active {
    background-color: hsl(35, 100%, 70%);
}