* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #0c2461;
    padding: 20px;
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 36px;
}

.recipe-list-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.recipe-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.recipe-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.recipe-item h2 {
    margin: 0;
    font-size: 20px;
    padding: 10px;
    min-width: 200px;
}

.recipe-item p {
    margin: 0;
    padding: 10px;
    color: #777;
}

.recipe-item a {
    background: #0c2461;
    color: #fff;
    min-width: 150px;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.recipe-item a:hover {
  background: #1e3799;
}
    